html,body {
    overflow-x: hidden;
    etter-spacing: 2px;
}

@media screen and (max-width:680px){

	#maincontent{
		width: auto;
		float: none;
	}
	#sidebar{
		width: auto;
		float: none;
	}
}


.games {
    background: url(assets/main-bg.jpg) no-repeat;
    background-size: cover;
    padding-top: 50%;
    padding-bottom: 50%;
    color: white;
}

.backgrounf-navbar {
    background-color: black;
    background: rgba(0, 0, 0, 0.50);
}

..h2 {
    display: flex;
    color: white;
    padding-top: 20px;
    padding-bottom: 70px;
    justify-content: right;
}


.the-games {
    display: flex;
    color: white;
    background-image: url(assets/the-games-bg.jpg);
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
}

.games .display-5 {
    color: white;
}

.carousel-control-next-icon{
    background-image: url(assets/switch-right.svg);
}
.carousel-control-prev-icon{
    background-image: url(assets/switch-left.svg);
}

.features{
    display: flex;
    background: url(assets/features.jpg) top center no-repeat;
    padding-top: 15%;
    padding-bottom: 20%;
    padding-left: 55%;
    background-size:cover;
    color: white;
}

.row .col {
    color: goldenrod;
}

.row-cols-2 {
    color: goldenrod;
}

.row-cols-3 {
    color: goldenrod;
}

.h5 {
    color: goldenrod;
}

.caption {
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    margin-left: 5%;
}

.vertikal {
    width: 2px;
    background-color: white;
}

.box {
    border-left: 1px black solid;
    height: 170px;
    width: 0px;
}
.paragraph-special {
    text-align: right;
    color: white;
}

.row-cols-1 {
    text-align: right;
    padding-top: 5%;
}

.system {
    display: flex;
    color: white;
    background-image: url(assets/requirements.png);
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 10%;
    color: white;
    box-shadow: 0 0 100px black inset;
}

.caption {
    text-align: center;
}

.h1 .system {
    text-align: left;
}

.graphics {
    text-align: left;
}

.col-lg-6 {
    text-align: left;
}

.top {
    display: flex;
    background-image: url(assets/top-score-bg.png);
    background-size: cover;
    padding-bottom: 20%;
    padding-top: 20%;
    color: white;
}

.button {
    padding-top: 20%;
}

.news {
    background-image: url(assets/newsletter.png);
    text-align: right;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 10%;
    color: white;
}
.quote  {
    text-align: justify;
    margin-left: 20%;
}

.paragraph-1 {
    text-align: left;
    margin-left: 20%;
}

.h1 {
    text-align: left;
    margin-left: 20%;
}


.card {
    border-radius: 3%;
    background-color: rgb(42, 41, 41);
    color: white;
}

.display-6 {
    color: white;
}

.paragraph {
    color: white;
}

.card-text {
    color: white;
}